/* @import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital,wght@0,300;1,300&family=Rock+Salt&display=swap'); */
.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
  }


:root {
    --paragraph-font : Roboto, Arial;
    --primary-color : #9AC2C9;
    --secondary-color: #8AA1B1;
    --accent1-color: #4A5043;
    --accent2-color: #FFCB47;

    --heading-font: "Rock Salt", Verdana, Sans-serif;
    --paragraph-font: Roboto, Verdana;

    --nav-background-color: #9AC2C9;
    --nav-link-color:#3f9de0;
    --nav-hover-link-color: #a1192b;
    --nav-hover-background-color:#1e3b7a;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}



body {
    font-family: var(--paragraph-font);
    max-width: 960;
    padding: 1rem;
    position: relative;

}

p {
    padding: 20px;
    
}
/* 
.hero {
    position: absolute;
} */

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20%;
    left: 30%;
}
article {
    position: absolute;
    top: 30%;
    left: 20%;
    display: block;
    background-color: #8c464f;
}
article img {
    float: right;
    padding: 10px;
}

.opa {
    opacity: 0.9;
}


nav {
    padding: 1.5rem;
    text-decoration: none;
    font-size: 20px;
    border-bottom: none;
    /* background-color: #3f9de0; */
    justify-items: center;
    margin: 20px;
}

header {
    margin: 1rem auto;
    display: grid;
    align-items: center;
    border-bottom: 1px solid #f6ebeb;
}

header img {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
}
nav {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;

}

/* .hero {
    margin: 0 0.24rem 0 1rem;
    width: 64px;
} */

nav a { 
    text-decoration: none;
    font-size: 2rem;
    margin: 2rem;
}
.underline-links, a:hover {
    color: tomato;
    font-weight: 700;
    /* text-decoration: underline; */

}

.history {
    text-align: center;

}

.adventure {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;

}

.adv1 {
    display: block;
    grid-column: 1/2;
    grid-row: 1;
    text-align: center;
    background-color: #7a1e41; 
}

.pic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

.im-1 {
    grid-column: 1/2;
    grid-row: 1/2;

}
.im-2 {
    grid-column: 2/3;
    grid-row: 1/2;

}
.im-3 {
    grid-column:3/4 ;
    grid-row: 1/2;
}
.im-4 {
    grid-column: 4/5;
    grid-row: 1/2;
}
.im-5 {
    grid-column: 5/6;
    grid-row: 1/2;
}



/* The form css code */

form {
    width: 650px;
    margin: 0 auto; 
    padding: 1rem;
    border: 1px solid rgb(0 0 0 /0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: left;
    padding: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 5rem;
    padding: .5rem;
    font-size: 1.2rem;
    width: 10rem;

}

button:hover {
    background-color: darkgreen;
}

/* .email {
    padding: 0px 20px 0px 0px;
} */

.useremail {
    margin: 0px 0px 0px 32px;
}

.profile {
    display: flex;
}

.kelly {
    width: 150px;
    height: auto;
}