
table {
    border: solid 1px black;
    padding: 10px;
    max-width: 840px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

/* .my-table {
    border: solid 2px black;
    padding: 20PX;
    background-color: aqua;
    margin: 20px;
} */

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: 700;
    font-style: italic;

}

thead, tfoot {
    background-color: #638475;
}
th, td {
    border: 1px solid black;
    padding: 10px;
}

td:last-of-type {
    text-align: center;
}
tbody > tr:nth-of-type(even){
    background-color: #90E39A;
}

tfoot th {
    text-align: right;
}
tfoot td {
    font-weight: bold;
}