/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Rock Salt */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');




:root {
    --heading-background-color: #DAD7CD ;
    --heading-text-color: #333 ;
    --heading-font:'Rock Salt','Arial Black' ;
    --font-family:Roboto, Arial, sans-serif;
    --paragraph-text-color: #333;
    --padding : 1rem ;
    --border: 1px solid rgba(0 0 0 /0.1)  ;
}

*{
    margin: 0;
    padding: 0;
}

/* styling the heading  */

h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
    position: absolute;
    top: 40px;
    left: 2px;
    opacity: 0.7;
    width: 95%;
}

p {
    padding: var(--padding);
    font-family: var(--font-family);

    
}

.my {
    display: inline;
}

body{
    max-width: 700px;
    
}
nav a {
    text-decoration: none;
    font-size: 1.5rem;
    display: inline;
    /* display: flex; */
}

.hero{
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.para {
    position: absolute;
    background-color: #A3B18A;
    top: 200px;
    opacity: 0.7;
    width: 57%;
}


article {
    position: absolute;
    background-color: #A3B18A;
    opacity: 0.9;
    float: right;


}

.happy-client {
    position: absolute;
    float: right;
    width: 220px;
    height: auto;
    top: 200px;
    right: 50px;
}

article img {
    float: right;
}

footer img {
    width: 50px;
    height: auto;

}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.header1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.header2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.header3{
    grid-column: 3/4;
    grid-row: 1/2;
}

.nav-link{
    display: flex;
    padding: 20px;
}